#page-content{
  #nav-bar{
    #nav-bar-content{
      display: flex;
      justify-content: space-between;
      h1{
        margin: 1.5rem 1.5rem;
      }
      ul{
        display: flex;
        li{
          font-size: 1.8rem;
          padding: 1rem 1.5rem;
        }
      }
    }
  }
}