@import "config";
#page-content{
  #nav-bar{
    user-select: none;
    #nav-bar-content{
      display: flex;
      justify-content: space-between;
      h1{
        margin: 1.8rem 1.5rem;
        display: flex;
        .logo-word {
          margin-right: 0.75rem;
        }
      }
      ul{
        display: flex;
        li{
          font-size: 2rem;
          padding: 1.6rem 1.5rem;
          a{
            color: $secondary-dark;
            text-transform: uppercase;
            border-bottom: 3px transparent solid;
            padding-bottom: 0.5rem;
            transition: border-color 0.5s;
            &:hover {
              border-color: $primary-dark;
            }
          }
          }
        }
      .icon{
        display: none;
      }
      }
    }
  }