@import "config";

// Utility Classes
.container{
  max-width: $max-width;
  margin: auto;
}
.section-container{
  max-width: $max-width-section;
  margin: auto;
}

.logo{
  font-family: "Staatliches", sans-serif;
  font-size: 4rem;
}

.logo-letter{
    color: $primary-light;
}

.card{
}